.App {
  text-align: center;
}

.App-header {
  background-color: #3c3ac2;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.home {
  background-image: url(bob5.png);
  height: 800px;
  text-align: center;
}

.feelings {
  background-image: url(bob1.png);
  background-size: 130% 100%;
  height: 400px
}

.understanding {
  background-image: url(bob2.png);
  background-size: 130% 100%;
  height: 400px
}

.support {
  background-image: url(bob3.png);
  background-size: 130% 100%;
  height: 400px
}

.comments {
  background-image: url(bob4.png);
  background-size: 130% 100%;
  height: 400px
}

.final {
  background-color: black;
}

.thankyou {
  background-color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
}

h1, h5, ul {
  font-family: "Times New Roman", Times, serif;
  color: white;
}
