.App {
  text-align: center;
}

.App-header {
  background-color: #3c3ac2;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.Brad {
  background-image: url(brad.png);
  background-size: 900px;
  width: 100%;
  height: 100;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none;
}

h1, ul {
  font-family: "Times New Roman", Times, serif;
}
